.collaboration {
    align-items: stretch;
    &__column {
        color: $white !important;
        border-bottom: 2px solid $white;
        @media (min-width: 768px) {
            border-left: 2px solid $white;
            border-bottom: 0;
            &--ae {
                border-left: 0;
                border-right: 2px solid $white;
            }
        }
    }

    &__number {
        font-size: 4em;
    }
}
