.footer {
    color: $gray-footer-text;
    &__title {
        font-size: 1.4em;
        @media (min-width: 992px) {
            font-size: 1.2em;
        }
        font-weight: bolder;
        color: $gray-footer-text;
        text-decoration: none;

        &--second {
            font-weight: 450;
        }

    }

    &__text {
        font-size: 1em;
        @media (min-width: 992px) {
            font-size: 1em;
        }
        color: $gray-footer-text;
        &--unstyle {
            text-decoration: none;
            font-size: 1em;
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
        @media (min-width: 992px) {
            width: 35px;
            height: 35px;
        }
    }

    &--first {
        flex: 100% 1;
        @media (min-width: 992px) {
            flex: 20% 0;
        }
    }

    &--second {
        flex: 100% 1;
        @media (min-width: 992px) {
            flex: 80% 1;
        }
    }

}
