.footer {
    color: $gray-footer-text;
    &__title {
        font-size: 0.8em;
        font-weight: bolder;
        color: $gray-footer-text;
        text-decoration: none;

        &--second {
            font-weight: 450;
        }

    }

    &__text {
        font-size: 0.6em;
        color: $gray-footer-text;
        &--unstyle {
            text-decoration: none;
            font-size: 1em;
        }
    }


    &--first {
        flex: 20% 0;
    }

    &--second {
        flex: 80% 1;
    }

}
