.menu {
    background-color: #000000e3;
    padding: 1em 0;

    &--scroll {
        background-color: $gray-main;
        z-index: 2;
        border-bottom: 1px solid $gray-text;
    }
    &__list {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    &__additionalList {
        background-color: white;
    }
}
