.menu {
    background-color: #000000e3;
    padding: 1em 0;

    &--scroll {
        padding: 0 !important;
        background-color: $black;
        z-index: 2;
    }
    &__list {
        width: 100%;
        display: flex;
        justify-content: end;
    }
}
