.menu {
    z-index: 3;
    &__icon {
        filter: invert(1);
    }

    &__image {
        height: 45px;
        @media (min-width: 992px) {
            height: 60px;
        }
    }

    background-color: #000000e3;

    &--scroll {
        background-color: $gray-main;
        z-index: 2;
        border-bottom: 1px solid $gray-text;

    }

    &--product {
        background-color: $gray-main;
        border-bottom: 1px solid $gray-text;
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: end;
        @media (min-width: 992px) {
            min-height: $height-menu;
            align-items: center;
        }
    }

    &__additional {
        z-index: 10;
        left: 0;
        background-color: $gray-main;
        display: none !important;
        top: $height-menu;
        @media (min-width: 992px) {
            position: absolute;
            border-top: 1px solid $gray-text;
            border-bottom: 1px solid $gray-text;
        }

        &--activate {
            @media (min-width: 992px) {
                display: flex;
                align-items: center;
                min-height: $height-menu;
            }
        }

        &--activate:hover ~ .menu__additional {
            display: flex !important;
        }

        &:hover {
            display: flex !important;
        }
    }

    &__option {
        @media (min-width: 992px) {
            display: flex;
            align-items: center;
            min-height: $height-menu;
        }

        &--flag {
            @media (max-width: 992px) {
                border-right: 2px solid $gray-text;
                padding-right: 1em;
            }
            @media (min-width: 992px) {
                border-left: 2px solid $gray-text;
                margin-left: 1em;
                padding-left: 1em;
            }
        }
        &--flagAe {
            @media (max-width: 992px) {
                border-left: 2px solid $gray-text;
                padding-left: 1em;
            }
            @media (min-width: 992px) {
                border-right: 2px solid $gray-text;
                margin-right: 1em;
                padding-right: 1em;
            }
        }
    }
    &__container--option {
        @media (min-width: 992px) {
            min-height: $height-menu;
        }
    }

}
