.slider {
    &__container {
        flex: 50% 0;
        overflow: hidden;

    }

    &__image {
        min-width: 100%;
        max-width: 100%;
    }
    &__button {
        min-width: 240px;
    }
    &__control {
        position: absolute;
        top: 50%;
        z-index: 3;
        border: 1px solid $gold;
        background-color: $gray-main;
        padding: 5px 10px;
        opacity: 60%;
        cursor: pointer;

        @media (min-width: 991px) {
            padding: 10px 20px;
            border: 2px solid $gold;

            & > picture > img {
                width: 50px;
                height: 50px;
            }
        }
        &:hover {
            opacity: 100%;
        }

        &--previous {
            left: 10px;
        }
        &--next {
            right: 10px;

            & > picture >  img {
                transform: rotate(180deg);
            }
        }
    }


    &__video {
        max-width: 100%;
        &--mobile {
            display: block;
        }

        &--desktop {
            display: none;
        }

        @media (min-width: 991px) {

            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
            }
        }
    }
}


.swiper-slide {

    @media (min-width: 1900px) {
        max-height: 800px;
        overflow-y: hidden;
    }
}
