.smallBanners {
    position: relative;
    overflow: hidden;
    &__image {
        min-width: 100%;
        max-width: 100%;
    }

    &__containerLink {
        padding: 0.3em 0.55em;
        bottom: 10px;
        left: 10px;
        background-color: $gray-main;
        min-height: 100%;
        @media (min-width: 768px) {
            min-height: auto;
            position: absolute;
        }
    }

    &__title {
        @media (min-width: 768px) {
            max-height: 22px;
        }
        color: $white;
    }

    &__link {
        font-size: 0.7em;
        color: $white;
    }
}
