.smallBanners {
    position: relative;
    overflow: hidden;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
    &__image {
        min-width: 100%;
        max-width: 100%;
    }

    &__containerLink {
        @media (max-width: 768px) {
            flex: 1;
            display: flex;
            justify-content: space-between;
        }
        padding: 0.3em 0.55em;
        bottom: 10px;
        left: 17px;
        background-color: $gray-main;
        //min-height: 100%;
        @media (min-width: 768px) {
            min-height: auto;
            position: absolute;
        }
    }

    &__title {
        @media (min-width: 768px) {
            max-height: 22px;
        }
        color: $white;
    }

    &__link {
        font-size: 0.7em;
        color: $white;
    }
}
